.CodeEditor {
    flex: 1 1 25%;
    background: var(--background-color-code-editor);
    color: var(--text-color-code-editor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    order: 1;
    min-height: 0;
    padding: var(--spacing); /* Отступы внутри контейнера */
}

.CodeEditor .react-simple-code-editor {
    flex: 1 1 auto;
    width: 100%;
    padding: var(--spacing); /* Отступы внутри редактора */
    border: 1px solid #ccc;
    border-radius: var(--small-border-radius);
    margin-bottom: var(--spacing); /* Отступ снизу */
    transition: height 0.3s ease;
    background: inherit;
    color: inherit;
    font-family: var(--font-family-monospace);
    font-size: 14px;
    overflow: auto;
    min-height: 0;
}

.CodeEditor .editor-controls {
    display: flex;
    flex-direction: column;
    gap: var(--spacing); /* Расстояние между кнопками */
    margin-top: var(--spacing); /* Отступ сверху */
}

/* Подсветка синтаксиса */
.CodeEditor .token.keyword {
    color: #d73a49;
    font-weight: bold;
}

.CodeEditor .token.comment {
    color: #6a737d;
    font-style: italic;
}

.CodeEditor .token.string {
    color: #032f62;
}

.CodeEditor .token.number {
    color: #005cc5;
}

.CodeEditor .token.operator {
    color: #24292e;
}

/* Стили кнопок внутри блока кода */
.CodeEditor button {
    background-color: var(--button-bg-color); /* Голубой */
    color: #fff;
    border: none;
    padding: var(--spacing); /* Отступы внутри кнопок */
    font-size: 14px;
    border-radius: var(--small-border-radius);
    box-shadow: var(--button-box-shadow);
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
    margin: var(--spacing) 0; /* Отступы между кнопками */
    min-height: 40px; /* Минимальная высота кнопок */
}

.CodeEditor button:hover {
    background-color: var(--button-hover-bg-color);
}