/* Field.css */

.field-area {
    flex: 2 1 50%;
    order: 2;

    margin: var(--spacing);
    padding: var(--spacing);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
    box-sizing: border-box;
}

/* Сам canvas */
.field-area canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--background-color-canvas);
    transition: transform 0.2s;
    border-radius: var(--border-radius);
    object-fit: contain;
    flex-shrink: 0;
    max-height: 100%;
    box-sizing: border-box;
}

.field-area canvas.edit-mode {
    background-color: var(--background-color-edit-mode);
}

/* Блок статуса */
.status-card {
    align-items: flex-start; /* Чтобы текст начинался сверху слева */
    width: 100%; /* Растягиваем карточку на всю ширину field-area */
    margin-top: var(--spacing);
}

/* Сам текст статуса/подсказок */
.status-text {
    white-space: pre-line; /* учитывать \n как переносы */
    min-height: 80px; /* базовая высота, чтобы не прыгало при маленьком тексте */
    max-height: 120px; /* ограничение сверху, чтобы не растягивать всё поле */
    overflow-y: auto; /* скролл, если текста больше */
    box-sizing: border-box;
    padding: var(--spacing);
    border-radius: var(--small-border-radius);
    background: #fefefe; /* светлый фон */
    line-height: 1.3;
}