/* styles.css */
.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button {
    background-color: #1a202c;
    color: #fff;
    width: 60px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

button.full-width {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

button.full-width-outlined {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

canvas {
    border: 2px solid #ccc;
    margin: 16px auto;
    display: block;
    background-color: #289628;
}

canvas.edit-mode {
    background-color: #6496FF;
}

.container {
    display: flex;
    height: 100vh;
}

.card {
    width: 25%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 16px; /* Add margin for spacing around the button block */
    height: auto; /* Adjust height based on content */
}

.card-controls {
    flex: 1;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 16px; /* Add margin for spacing around the game field block */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: auto; /* Adjust height based on content */
}

button {
    background-color: #1a202c;
    color: #fff;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

button.full-width {
    width: 100%;
    height: 5vh;
    margin-top: 10px;
    font-size: 2vh;
}

button.full-width-outlined {
    width: 100%;
    height: 5vh;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-size: 2vh;
}

canvas {
    border: 2px solid #ccc;
    margin: 16px auto;
    display: block;
    background-color: #289628;
}

canvas.edit-mode {
    background-color: #6496FF;
}