/* CodeEditor.css */

/* Главный контейнер редактора */
.code-editor {
    /* Расположение в сетке (слева) */
    flex: 1 1 25%;
    order: 1;

    /* Единые отступы */
    margin: var(--spacing);
    padding: var(--spacing);

    background: var(--background-color-code-editor);
    color: var(--text-color-code-editor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    min-height: 0;
}

/* React Simple Code Editor */
.code-editor .react-simple-code-editor {
    flex: 1 1 auto;
    width: 100%;
    padding: var(--spacing);
    border: 1px solid #ccc;
    border-radius: var(--small-border-radius);
    margin-bottom: var(--spacing);
    transition: height 0.3s ease;
    background: inherit;
    color: inherit;
    font-family: var(--font-family-monospace);
    font-size: 14px;
    overflow: auto;
    min-height: 0;
}

/* Блок с кнопками */
.editor-controls {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin-top: var(--spacing);
}

/* Подсветка синтаксиса */
.code-editor .token.keyword {
    color: #d73a49;
    font-weight: bold;
}

.code-editor .token.comment {
    color: #6a737d;
    font-style: italic;
}

.code-editor .token.string {
    color: #032f62;
}

.code-editor .token.number {
    color: #005cc5;
}

.code-editor .token.operator {
    color: #24292e;
}
